<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
 <h1>Update your property</h1>
 <form method="POST" class="m-auto w-25">
     {% csrf_token %}
     <div class="form-control">
            <lable for="id_name">Name</lable>
         {{ form.name }}
     </div>

     <div class="form-control">
            <lable for="id_description">Description</lable>
         {{ form.description }}
     </div>

     <div class="form-control">
           <lable for="id_price">Price</lable>
         {{ form.price }}
     </div>

     <div class="form-control">
           <lable for="id_image">Image</lable>
         {{ form.image }}
     </div>
     <button type="submit" class="btn-group-justified">Submit</button>
 </form>
</body>
</html>